<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>eMark</title>
  </head>
  <body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">eMark</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Buyer <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Link</a> -->
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
      </li>
      <li class="nav-item dropdown">
        <!-- <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> -->
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [routerLink]="['/cart']">Shopping Cart</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    </form>
  </div>
</nav>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
       <h1 class="display-3">Hello, Buyer!</h1>
      <p>You can see the result of searching on this page.</p>
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Filter</h2>
        <!--<p>If you want to buy something , you can login the following button. </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Login For Buyer &raquo;</a></p> -->
        <form role="form">
          <div class="form-group">
            <label class="control-label">Start Price</label>
            <div class="col-sm-10">
              <select id="disabledSelect" class="form-control">
                <option></option>
                <option>less than 1</option>
                <option>1~100</option>
                <option>101~1000</option>
                <option>1001~10000</option>
                <option>more than 10000</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">End Price</label>
            <div class="col-sm-10">
              <select id="disabledSelect" class="form-control">
                <option></option>
                <option>less than 1</option>
                <option>1~100</option>
                <option>101~1000</option>
                <option>1001~10000</option>
                <option>more than 10000</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Manufacturer</label>
            <div class="col-sm-10">
              <select id="disabledSelect" class="form-control">
                <option></option>
                <option>Manufacturer A</option>
                <option>Manufacturer B</option>
                <option>Manufacturer C</option>
                <option>Manufacturer D</option>
                <option>Any</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Filter</button>
        </form>
      </div>
      <div>
        <!-- <h2>Seller</h2> -->
        <!-- <p>If you want to sell something , you can login the following button. </p> -->
        
        <table class="table">
          <!-- <caption>基本的表格布局</caption> -->
          <thead>
            <tr>
              <th>Buy Item</th>
              <th>Purchase History</th>
              <th>View Discounts</th>
              <th>Reports</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="email" class="form-control" id="exampleInputEmail1" placeholder=""></td>
              <td><p><a class="btn btn-primary btn-lg" href="#" role="button">Search</a></p></td>
              <td><button class="btn btn-primary btn-lg" (click)="addToCart(product)">Buy</button></td>
            </tr>
          </tbody>
        </table>
        <h6 class="text-center">"Mobile" Search Results</h6>
        <table class="table table-bordered">
          <tr>
            <td>Thumbnail</td>
            <!-- <td>{{ item.name }}</td> -->
            <td>Samsung Galaxy s7</td>
            <td>Rs.12386/-</td>
            <td>seller1</td>
            <td><p><a class="btn btn-primary btn-lg" href="#" role="button">View Details</a></p></td>
          </tr>
          <tr>
            <td>Thumbnail</td>
            <td>Oppo A5s</td>
            <td>Rs.9999/-</td>
            <td>seller2</td>
            <td><p><a class="btn btn-primary btn-lg" href="#" role="button">View Details</a></p></td>
          </tr>
        </table>
        
      </div>
      <!-- <div class="col-md-4">
        <h2>Admini</h2>
        <p>If you are a administator ,you can login the following button.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Login For Admini &raquo;</a></p>
      </div> -->
    </div>

    <hr>

  </div> <!-- /container -->
  <div class="cart-item" *ngFor="let item of items">
    <span>{{ item.itemName }}</span>
    <span>{{ item.screenResolution | currency }}</span>
  </div>

</main>

<footer class="container">
  <p>&copy; Company 2020</p>
</footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>